#accel-logo {
  max-width: 400px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#footer-logo {
  max-width: 200px;
  padding: 0;
  display: block;
  margin-left: 0;
  background-color: #fff;
}

#index-banner {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(/static/images/nodes3.jpg);
    background-size: cover;
}

#culture-banner {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.8)), url(/static/images/collab_sm.jpg);
    background-size: cover;
    min-height:700px;

}


.collapsible-body {
    background-color: #5388bd;
    color: #fff;
}

