{% extends "layout.html" %}
{% block content %}
   <!--Hero-->
  <div class="section" id="culture-banner">
      <div class="container">
          <h1 class="text_h center header cd-headline letters type">
              <span>We Focus on</span><br>
                  <span class="cd-words-wrapper waiting">
                  <b class="is-visible">Inclusive Culture</b>
                  <b>Building Community</b>
                  <b>Learning Together</b>
              </span>
          </h1>
      </div>
  </div>

  <!--Work-->
  <div class="section scrollspy" id="work">
      <div class="container">
          <h2 class="header text_b">Community Partnerships</h2>
          <p>We have developed community partnerships with the best in the industry so you can network & mingle with entrepreneurs, engineers, students, professors, researchers, product developers, accelerators, and nonprofits. Share your projects and vision for the future of Deep Learning & Artificial Intelligence.</p>
          <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/google_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Google <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.googleforentrepreneurs.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Google for Entrepreneurs <i class="mdi-navigation-close right"></i></span>
                          <p>Provides financial support and the best of Google's resources to dozens of coworking spaces and community programs.</p>
                      </div>
                  </div>
              </div>

               <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/ibmwatson_sm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">IBM Watson <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.ibm.com/watson/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">IBM Watson <i class="mdi-navigation-close right"></i></span>
                          <p>A cognitive system enabling a new partnership between people and computers.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/accenture_sm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Accenture<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.accenture.com/us-en/artificial-intelligence-index" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Accenture <i class="mdi-navigation-close right"></i></span>
                          <p>Accenture solves our clients' toughest challenges by providing unmatched services in strategy, consulting, digital, technology and operations. We partner with more than three-quarters of the Fortune Global 500, driving innovation to improve the way the world works and lives. With expertise across more than 40 industries and all business functions, we deliver transformational outcomes for a demanding new digital world.</p>
                      </div>
                  </div>
              </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/kapor_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Kapor Center<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.kaporcenter.org/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Kapor Center <i class="mdi-navigation-close right"></i></span>
                          <p>The Kapor family of organizations works to remove barriers to Science, Technology, Engineering and Math (STEM) education and tech careers for underrepresented people of color. They take a comprehensive approach to fixing the leaks at every stage of the tech pipeline, from K-12 education through the workplace with education programs, advocacy, and social impact investing.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/techstars_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Techstars<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.techstars.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Techstars<i class="mdi-navigation-close right"></i></span>
                          <p>A mentorship-driven startup accelerator. Raise startup funding and gain critical insight to help launch your business through the startup accelerator and development program.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/nordicimpact_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Nordic Impact<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.nordicimpact.no/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Nordic Impact<i class="mdi-navigation-close right"></i></span>
                          <p>Nordic Impact is a company that invests in startups based around technology with a mission to have a positive impact on society.</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/udacity_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Udacity<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.udacity.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Udacity <i class="mdi-navigation-close right"></i></span>
                          <p>Udacity is a for-profit educational organization founded by Sebastian Thrun, David Stavens, and Mike Sokolsky offering massive open online courses (MOOCs).</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/devlabs.jpeg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Devlabs<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://devlabs.vc/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Devlabs <i class="mdi-navigation-close right"></i></span>
                          <p>Provides business development & product development support to early stage software start-ups.
                          They identify & invest in outlier entrepreneurs solving big problems to expand into global markets.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/womenwhocode.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Women Who Code <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.womenwhocode.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Women Who Code <i class="mdi-navigation-close right"></i></span>
                          <p>Women Who Code is a global non-profit organization dedicated to inspiring women to excel in technology careers. </p>
                      </div>
                  </div>
              </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/datalog.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Datalog.ai <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.datalog.ai/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Datalog.ai <i class="mdi-navigation-close right"></i></span>
                          <p>datalog.ai is focused on developing artificial intelligence solutions to personalize user experiences and discover behavior to enhance outcomes through additional intelligence.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/blueword.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Blue Word AI<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.bluewordai.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Blue Word AI <i class="mdi-navigation-close right"></i></span>
                          <p>Blue Word AI focuses on understanding intentions within human language by analyzing words in their context through people's digital content such as emails, social accounts and online searches. The algorithms are based on constructing vector representations of words and creating semantic groups. BlueWordAi technology aims to teach the machine to recognize not only keywords but the intentions within the human language. Real life applications are chatbots that will improve communication skills of the users and enable Ai-backed customer service and sales centers.</p>
                      </div>
                  </div>
              </div>
                 <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/chatbots.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Chatbots Life<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://chatbotslife.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Chatbots Life <i class="mdi-navigation-close right"></i></span>
                          <p>Best place to learn about Chatbots. We share the latest Bot News, Info, AI & NLP, Tools, Tutorials & More.</p>
                      </div>
                  </div>
              </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/variable.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Variable Labs <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://variablelabs.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Variable Labs <i class="mdi-navigation-close right"></i></span>
                          <p>Variable Labs creates immersive Virtual Reality (VR) experiences to foster empathy, develop soft skills, and change behavior. Using interactive and cinematic technologies, they deliver personalized education and training to individuals and organizations. Their technologies and storytelling capabilities provide deep immersion, engrossing presence, and lasting benefits for users.</p>
                      </div>
                  </div>
              </div>
                <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/new-reality.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">New Reality Arts <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.newrealityarts.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">New Reality Arts <i class="mdi-navigation-close right"></i></span>
                          <p>Creates memorable brand engagement stories with frontier technologies that delight and educate customers in novel ways and prepare brands for the emerging revolution. The multireality is considered the next “smartphone” technology because of the way it will irrevocably change the way we live our lives. </p>
                      </div>
                  </div>
              </div>
                <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/digitalraign_sm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Digital Raign <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://www.digitalraign.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Digital Raign<i class="mdi-navigation-close right"></i></span>
                          <p>Digital Raign is an executive recruiting & representation firm focused on the emerging reality (VR/AR/MR) industry. Our aim is to revolutionize the way management, technology and creative talent is engaged. With 20 years of experience in the retained executive search industry we have radically changed the experience of search for clients and hiring process for candidates.</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/riffyn.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Riffyn <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://http://riffyn.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Riffyn <i class="mdi-navigation-close right"></i></span>
                          <p>Riffyn delivers a spectrum of research process design, data collection and data analytics capabilities. With Riffyn you can reduce your application footprint, while arming your team with unprecedented access to institutional learnings.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/cleanify_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Cleanify <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.cleanify.com/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Cleanify <i class="mdi-navigation-close right"></i></span>
                          <p>Trusted recommendations for home and office cleaners allow you to easily purchase cleaning services while supporting your community.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/comingsoon_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Community Partnerships<i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="#" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Community Partnerships<i class="mdi-navigation-close right"></i></span>
                          <p>Building partnerships daily with the best organizations in the industry!</p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

   <!--Team-->
  <div class="section scrollspy" id="team">
      <div class="container">
          <h2 class="header text_b"> Our Team </h2>
          <div class="row">
              <div class="col s12 m4">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/lnm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Laura Montoya<br/>
                              <small><em><a class="red-text text-darken-1" href="#">Founder & CEO</a></em></small></span>
                          <p>
                              <a class="blue-text text-lighten-2" href="https://twitter.com/QuickResolute" target="_blank">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="linkedin.com/in/lnmontoya" target="_blank">
                                  <i class="fa fa-linkedin-square"></i>
                              </a>
                               <a class="blue-text text-lighten-2" href="https://github.com/quickresolve" target="_blank">
                                  <i class="fa fa-github-square"></i>
                              </a>

                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/abhi.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Abhishek Sharma<br/>
                              <small><em><a class="red-text text-darken-1" href="#">Founder & CTO</a></em></small>
                          </span>
                          <p>
                              <a class="blue-text text-lighten-2" href="https://twitter.com/abhi_infinite" target="_blank">
                                <i class="fa fa-twitter-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/abhishek21sharma" target="_blank">
                                  <i class="fa fa-linkedin-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://github.com/abhi21" target="_blank">
                                  <i class="fa fa-github-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4">
                <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="/static/images/rumman.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Rumman Chowdhury<br/>
                          <small><em><a class="red-text text-darken-1" href="#">Program Advisor</a></em></small>
                      </span>
                      <p>
                          <a class="blue-text text-lighten-2" href="https://twitter.com/ruchowdh" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                          </a>
                          <a class="blue-text text-lighten-2" href="http://www.linkedin.com/in/rumman" target="_blank">
                              <i class="fa fa-linkedin-square"></i>
                          </a>
                          <a class="blue-text text-lighten-2" href="https://github.com/ruchowdh" target="_blank">
                              <i class="fa fa-github-square"></i>
                          </a>
                      </p>
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <div class="card card-avatar">
              <div class="waves-effect waves-block waves-light">
                  <img class="activator" src="/static/images/tim.jpg">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Tim McMacken<br/>
                      <small><em><a class="red-text text-darken-1" href="#">Chief Operations Officer</a></em></small>
                  </span>
                  <p>
                    <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/timmcmacken/" target="_blank">
                      <i class="fa fa-linkedin-square"></i>
                    </a>
                  </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card card-avatar">
              <div class="waves-effect waves-block waves-light">
                  <img class="activator" src="/static/images/ricardo.jpg">
              </div>
              <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Ricardo Corona<br/>
                      <small><em><a class="red-text text-darken-1" href="#">Product Development Officer</a></em></small>
                  </span>
                  <p>
                    <a class="blue-text text-lighten-2" href="https://twitter.com/BeardedRicardo" target="_blank">
                      <i class="fa fa-twitter-square"></i>
                    </a>
                    <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/ricardocorona9" target="_blank">
                      <i class="fa fa-linkedin-square"></i>
                    </a>
                  </p>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
              <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="/static/images/kelson.jpg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Kelson Adams<br/>
                          <small><em><a class="red-text text-darken-1" href="#">Senior Frontend Engineer</a></em></small>
                      </span>
                      <p>
                        <a class="blue-text text-lighten-2" href="https://twitter.com/KelsonAdams1" target="_blank">
                          <i class="fa fa-twitter-square"></i>
                        </a>
                        <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/kelsonic" target="_blank">
                          <i class="fa fa-linkedin-square"></i>
                        </a>
                        <a class="blue-text text-lighten-2" href="https://github.com/kelsonic" target="_blank">
                          <i class="fa fa-github-square"></i>
                        </a>
                    </p>
                  </div>
              </div>
          </div>
          <div class="row">
          <div class="col s12 m4">
              <div class="card card-avatar">
                  <div class="waves-effect waves-block waves-light">
                      <img class="activator" src="/static/images/full-morph.gif">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">You?!?<br/>
                          <small><em><a class="red-text text-darken-1" href="mailto:lifegoals@accel.ai">contact us at lifegoals@accel.ai</a></em></small>
                      </span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}