
  <!-- Two -->
   <!--  <section id="two" class="wrapper style2">
      <div class="container inner">
        <a href="#" class="image"><img src="/static/images/femengineer.jpg" alt="" width="500" /></a>
        <div class="content">
          <h2 class="major">Advance Your Company</h2>
          <p>Stay ahead of the market demand in Computer Science.</p>
          <p><i>"AI is the new electricity, just as 100 years ago electricity transformed industry after industry, AI will now do the same.”</i><br>-Andrew Ng, Stanford</p>

          <a href="#" class="special">Learn more</a>
        </div>
      </div>
    </section> -->

    <!-- Three -->
<!--    <section id="three" class="wrapper style1">
      <div class="container inner">
        <a href="#" class="image"><img src="images/guys.jpg" alt="" /></a>
        <div class="content">
          <h2 class="major">Build Community</h2>
          <p>Grow your network and community of AI enthusiasts & engineers with mentoring, workshops, and events.</p>
          <p><i>"If we are going to build AI that works for all people, we need a diverse group of people building it."</i><br> -Melinda Gates</p>
          <a href="#" class="special">Learn more</a>
       </div>
      </div>
    </section> -->



  <!-- <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Discover the latest in AI</h2>
        <div class="logo">
          <a href="https://twitter.com/AccelerateAI" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/AI-Accelerator-1159657744122697/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/groups/7072229" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://github.com/AccelAI" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="mailto:aiaccelerator@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <p>Gain skills to integrate AI into web applications, gaming, and robotics</p>
        <a href="/blog" class="btn-primary">Blog</a>
        <a href="/workshops" class="btn-secondary">Workshops</a>

      </div>

      <div class="section-device">
        <img src="static/img/logo.png">
      </div>
    </div>
  </main> -->


<!-- FORM -->
  <!-- <form class="col s12" action="contact.php" method="post">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="mdi-action-account-circle prefix white-text"></i>
                                <input id="icon_prefix" name="name" type="text" class="validate white-text">
                                <label for="icon_prefix" class="white-text">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="mdi-communication-email prefix white-text"></i>
                                <input id="icon_email" name="email" type="email" class="validate white-text">
                                <label for="icon_email" class="white-text">Email-id</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-editor-mode-edit prefix white-text"></i>
                                <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
                                <label for="icon_prefix2" class="white-text">Message</label>
                            </div>
                            <div class="col offset-s7 s5">
                                <button class="btn waves-effect waves-light red darken-1" type="submit">Submit
                                    <i class="mdi-content-send right white-text"></i>
                                </button>
                            </div>
                        </div>
                    </form> -->