{% extends "layout.html" %}
{% block content %}
  <!--Hero-->
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <h1 class="text_h center header cd-headline letters type">
              <span>Discover the latest in</span><br>
              <span class="cd-words-wrapper waiting">
                  <b class="is-visible">Artficial Intelligence</b>
                  <b>Data Engineering</b>
                  <b>Machine Learning</b>
                  <b>Deep Learning</b>
              </span>
          </h1>
      </div>
  </div>

  <!--Intro and service-->
  <div id="intro" class="section scrollspy">
      <div class="container">
          <div class="row">
              <div  class="col s12">
                  <h2 class="center header text_h2"> Shaping the Next Generation of <span class="span_h2"> AI </span> Engineers and Enthusiasts. </h2>
              </div>
              <div class="row">
                <img src="/static/images/logo.png" id="accel-logo">
              </div>
              <div  class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-social-school"></i>
                      <h5 class="promo-caption">Learn Through Apprenticeship</h5>
                      <p class="light center">Receive guidance from world class experts in AI, Data, and Engineering</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-action-extension"></i>
                      <h5 class="promo-caption">Personalized Feedback on Projects</h5>
                      <p class="light center">Formative Assessment Model with qualitative feedback based on content</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-action-thumbs-up-down"></i>
                      <h5 class="promo-caption">Hands on Collaboration</h5>
                      <p class="light center">Team based learning building interpersonal skills and opportunities for leadership</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-action-face-unlock"></i>
                      <h5 class="promo-caption">Tuition Deferment & Living Stipend</h5>
                      <p class="light center">Reducing Barriers to Entry for Underrepresented Groups in Tech</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-image-wb-irradescent"></i>
                      <h5 class="promo-caption">Career Launch Portfolio & Insights</h5>
                      <p class="light center">Gain insight to the latest trends on resumes, LinkedIn, and Interview techniques</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-image-blur-on"></i>
                      <h5 class="promo-caption">Build an Inclusive Network</h5>
                      <p class="light center">Grow your network and community of AI enthusiasts with mentoring, workshops, events</p>
                  </div>
              </div>
          </div>
          <div class="row center">
            <a href="https://lauranmontoya.typeform.com/to/aO2OKV" class="waves-effect waves-light btn-large" target="_blank">Sign Up Today</a>
          </div>
      </div>
  </div>

  <!--Parallax-->
  <div class="parallax-container">
      <div class="parallax"><img src="/static/images/brain.jpg"></div>
  </div>

  <!--Workshops-->

  <div id="workshops" class="section scrollspy">
    <div class="container">
      <div class="row">
        <div  class="col s12">
            <h2 class="center header text_b">Workshops</h2>
            <h2 class="center header text_h2"> Designed to Lower the Barriers to Entry in Understanding & Engineering <span class="span_h2"> AI </span></h2>
        </div>
      </div>
      <div class="row center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0yMbcc2v1lg" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="row center">
        <a href="https://www.picatic.com/accelai-Feb17" class="waves-effect waves-light btn-large" target="_blank">Register for the Next Workshop</a>
      </div>
    </div>
  </div>

  <!--Work-->
  <div class="section scrollspy" id="work">
      <div class="container">
          <h2 class="header text_b">Software & Tutorials</h2>
          <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/tensorflow_sm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">TensorFlow <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.tensorflow.org/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">TensorFlow <i class="mdi-navigation-close right"></i></span>
                          <p>An open source library for numeric computation using data flow graphs, optimized for parallel processing using GPUs to handle massive scale deep neural networks.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/scikit_sm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Scikit Learn <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://scikit-learn.org/stable/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Scikit Learn <i class="mdi-navigation-close right"></i></span>
                          <p>An open source Python library that implements a range of machine learning, preprocessing, cross-validation and visualization algorithms.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/torch_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Torch <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://torch.ch/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Torch <i class="mdi-navigation-close right"></i></span>
                          <p>Torch is a scientific computing framework with wide support for machine learning algorithms that puts GPUs first. It is easy to use and efficient, thanks to an easy and fast scripting language, LuaJIT, and an underlying C/CUDA implementation.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/caffe_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Caffe <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://caffe.berkeleyvision.org/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Caffe <i class="mdi-navigation-close right"></i></span>
                          <p>Deep learning framework made with expression, speed, and modularity in mind. It is developed by the Berkeley Vision and Learning Center (BVLC) and by community contributors.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/keras_sm.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Keras <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://keras.io/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Keras <i class="mdi-navigation-close right"></i></span>
                          <p>Keras is a high-level neural networks library, written in Python and capable of running on top of either TensorFlow or Theano. It was developed with a focus on enabling fast experimentation. Being able to go from idea to result with the least possible delay is key to doing good research.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/theano_sm.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Theano <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="http://deeplearning.net/software/theano/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Theano <i class="mdi-navigation-close right"></i></span>
                          <p>Python library that lets you to define, optimize, and evaluate mathematical expressions, especially ones with multi-dimensional arrays. Theano was written at the LISA lab to support rapid development of efficient machine learning algorithms.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


{% endblock %}