{% extends "layout.html" %}
{% block content %}
  <!--Hero-->
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <h1 class="text_h center header cd-headline letters type">
              <span>Discover</span>
              <span class="cd-words-wrapper waiting">
                  <b class="is-visible">Artficial Intelligence</b>
                  <b>Deep Learning</b>
                  <b>Machine Learning</b>
              </span>
          </h1>
      </div>
  </div>

  <!--Intro and service-->
  <div id="intro" class="section scrollspy">
      <div class="container">
          <div class="row">
              <div  class="col s12">
                  <h2 class="center header text_h2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="span_h2"> Phasellus  </span>vestibulum lorem risus, nec suscipit lorem <span class="span_h2"> laoreet quis.</span> </h2>
              </div>

              <div  class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-image-flash-on"></i>
                      <h5 class="promo-caption">Speeds up development</h5>
                      <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-social-group"></i>
                      <h5 class="promo-caption">User Experience Focused</h5>
                      <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-hardware-desktop-windows"></i>
                      <h5 class="promo-caption">Fully responsive</h5>
                      <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--Work-->
  <div class="section scrollspy" id="work">
      <div class="container">
          <h2 class="header text_b">Software & Tutorials</h2>
          <div class="row">
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/images/tensorflow.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">TensorFlow <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="https://www.tensorflow.org/" target="_blank">Learn More</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">TensorFlow <i class="mdi-navigation-close right"></i></span>
                          <p>An open source library for numeric computation using data flow graphs, optimized for parallel processing using GPUs to handle massive scale deep neural networks.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/project2.jpeg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="#">Project link</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                          <p>Here is some more information about this project that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/project3.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="#">Project link</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                          <p>Here is some more information about this project that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/project4.jpg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="#">Project link</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                          <p>Here is some more information about this project that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/project5.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="#">Project link</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                          <p>Here is some more information about this project that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="card">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/project6.jpeg">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                          <p><a href="#">Project link</a></p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                          <p>Here is some more information about this project that is only revealed once clicked on.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--Parallax-->
  <div class="parallax-container">
      <div class="parallax"><img src="/static/images/brain.jpg"></div>
  </div>

  <!--Team-->
  <div class="section scrollspy" id="team">
      <div class="container">
          <h2 class="header text_b"> Our Team </h2>
          <div class="row">
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar1.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Flash <br/>
                              <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                          <p>
                              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                  <i class="fa fa-google-plus-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                  <i class="fa fa-linkedin-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar2.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                              <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                          </span>
                          <p>
                              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                  <i class="fa fa-google-plus-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                  <i class="fa fa-linkedin-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar3.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">
                              Capt. America <br/>
                              <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                          <p>
                              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                  <i class="fa fa-google-plus-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                  <i class="fa fa-linkedin-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col s12 m3">
                  <div class="card card-avatar">
                      <div class="waves-effect waves-block waves-light">
                          <img class="activator" src="/static/img/avatar4.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Robin<br/>
                              <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                          <p>
                              <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                  <i class="fa fa-twitter-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                  <i class="fa fa-google-plus-square"></i>
                              </a>
                              <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                  <i class="fa fa-linkedin-square"></i>
                              </a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Discover the latest in AI</h2>
        <div class="logo">
          <a href="https://twitter.com/AccelerateAI" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/AI-Accelerator-1159657744122697/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/groups/7072229" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="https://github.com/AccelAI" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a href="mailto:aiaccelerator@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <p>Gain skills to integrate AI into web applications, gaming, and robotics</p>
        <a href="/blog" class="btn-primary">Blog</a>
        <a href="/workshops" class="btn-secondary">Workshops</a>

      </div>

      <div class="section-device">
        <img src="static/img/logo.png">
      </div>
    </div>
  </main> -->


    <!-- One -->
    <section id="one" class="wrapper style1">
      <div class="container inner">
        <!-- <a href="#" class="image"><img src="/img/collab.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Learn & Grow</h2>
          <p>Receive guidance from world class experts in Artificial Intelligence, Data, and Engineering. </p>
          <p><i>“When I look ahead at where computing is headed, it’s clear to me that we’re moving from a mobile-first world to an Artificial Intelligence-first world.”</i><br> - Sundar Pichai, Google</p>
          <!-- <a href="#" class="special">Learn more</a> -->
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper style2">
      <div class="container inner">
        <!-- <a href="#" class="image"><img src="images/femengineer.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Advance Your Company</h2>
          <p>Stay ahead of the market demand in Computer Science.</p>
          <p><i>"AI is the new electricity, just as 100 years ago electricity transformed industry after industry, AI will now do the same.”</i><br>-Andrew Ng, Stanford</p>

          <!-- <a href="#" class="special">Learn more</a> -->
        </div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style1">
      <div class="container inner">
        <!-- <a href="#" class="image"><img src="images/guys.jpg" alt="" /></a> -->
        <div class="content">
          <h2 class="major">Build Community</h2>
          <p>Grow your network and community of AI enthusiasts & engineers with mentoring, workshops, and events.</p>
          <p><i>"If we are going to build AI that works for all people, we need a diverse group of people building it."</i><br> -Melinda Gates</p>
          <!-- <a href="#" class="special">Learn more</a> -->
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style2">
      <div class="container inner">
        <header class="major">
          <h2 class="major">Accel.AI</h2>
          <p>Shaping the Next Generation of AI Engineers and Enthusiasts</p>
        </header>
        <div class="box alt">
          <div class="row uniform">
            <section class="4u 6u(medium) 12u$(xsmall)">
              <span class="icon alt major fa-graduation-cap"></span>
              <h3>Learn Through Apprenticeship</h3>
              <p>Receive guidance from world class experts in AI, Data, and Engineering</p>
            </section>
            <section class="4u 6u$(medium) 12u$(xsmall)">
              <span class="icon alt major fa-comment"></span>
              <h3>Personalized Feedback on Projects</h3>
              <p> Formative Assessment Model with qualitative feedback based on content</p>
            </section>
            <section class="4u$ 6u(medium) 12u$(xsmall)">
              <span class="icon alt major fa-users"></span>
              <h3>Hands on Collaboration</h3>
              <p>Team based learning building interpersonal skills and opportunities for leadership</p>
            </section>
            <section class="4u 6u$(medium) 12u$(xsmall)">
              <span class="icon alt major fa-money"></span>
              <h3>Tuition Deferment and Living Stipend</h3>
              <p>Reducing Barriers to Entry for Underrepresented Groups in Tech</p>
            </section>
            <section class="4u 6u(medium) 12u$(xsmall)">
              <span class="icon alt major fa-space-shuttle"></span>
              <h3>Career Launch Portfolio & Insights</h3>
              <p>Gain insight to the latest trends on resumes, LinkedIn, and Interview techniques</p>
            </section>
            <section class="4u$ 6u$(medium) 12u$(xsmall)">
              <span class="icon alt major fa-connectdevelop"></span>
              <h3>Build an Inclusive Network</h3>
              <p>Grow your network and community of AI enthusiasts with mentoring, workshops, events</p>
            </section>
          </div>
        </div>
    </section>

{% endblock %}