{% extends "layout.html" %}
{% block content %}
  <!--Hero-->
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <h1 class="text_h center header cd-headline letters type">
              <span>Discover the latest in</span><br>
              <span class="cd-words-wrapper waiting">
                  <b class="is-visible">Artficial Intelligence</b>
                  <b>Data Engineering</b>
                  <b>Machine Learning</b>
                  <b>Deep Learning</b>
              </span>
          </h1>
      </div>
  </div>

  <!--Intro and service-->
  <div id="intro" class="section scrollspy">
      <div class="container">
          <div class="row">
              <div  class="col s12">
                  <h2 class="center header text_h2"> Shaping the Next Generation of <span class="span_h2"> AI </span> Engineers and Enthusiasts. </h2>
              </div>
              <div class="row">
                <img src="/static/images/logo.png" id="accel-logo">
              </div>
              <div  class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-social-school"></i>
                      <h5 class="promo-caption">Learn Through Apprenticeship</h5>
                      <p class="light center">Receive guidance from world class experts in AI, Data, and Engineering</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-action-extension"></i>
                      <h5 class="promo-caption">Personalized Feedback on Projects</h5>
                      <p class="light center">Formative Assessment Model with qualitative feedback based on content</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-action-thumbs-up-down"></i>
                      <h5 class="promo-caption">Hands on Collaboration</h5>
                      <p class="light center">Team based learning building interpersonal skills and opportunities for leadership</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-action-face-unlock"></i>
                      <h5 class="promo-caption">Tuition Deferment & Living Stipend</h5>
                      <p class="light center">Reducing Barriers to Entry for Underrepresented Groups in Tech</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-image-wb-irradescent"></i>
                      <h5 class="promo-caption">Career Launch Portfolio & Insights</h5>
                      <p class="light center">Gain insight to the latest trends on resumes, LinkedIn, and Interview techniques</p>
                  </div>
              </div>
              <div class="col s12 m4 l4">
                  <div class="center promo promo-example">
                      <i class="mdi-image-blur-on"></i>
                      <h5 class="promo-caption">Build an Inclusive Network</h5>
                      <p class="light center">Grow your network and community of AI enthusiasts with mentoring, workshops, events</p>
                  </div>
              </div>
          </div>
          <div class="row center">
            <a href="/signup" class="waves-effect waves-light btn-large">Sign Up Today</a>
          </div>
      </div>
  </div>

  <!--Parallax-->
  <div class="parallax-container">
      <div class="parallax"><img src="/static/images/brain.jpg"></div>
  </div>

  <!--Workshops-->

  <div id="workshops" class="section scrollspy">
    <div class="container">
      <div class="row">
        <div  class="col s12">
            <h2 class="center header text_b">Workshops</h2>
            <h2 class="center header text_h2"> Designed to Lower the Barriers to Entry in Understanding & Engineering <span class="span_h2"> AI </span></h2>
        </div>
      </div>

      <div class="row center">
       
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0yMbcc2v1lg" frameborder="0" allowfullscreen></iframe>
        </div>
        
          <br> <center>    
          <iframe width="560" height="315" src="https://www.youtube.com/embed/imtMcu_wYC4" frameborder="0" allowfullscreen></iframe></center>

      </div>
      <div class="row center">
        <a href="https://github.com/AccelAI/DemystifyingDeepLearning-AI" class="waves-effect waves-light btn-large" target="_blank">Register for the Next Workshop</a>
      </div>
    </div>
  </div>


{% endblock %}