<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="google-site-verification" content="Q8-aVGWqkxH47O4kN-F1fo0pZo081pyjL0fRE-eKIzA" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Accel.ai</title>


    <!-- CSS  -->
    <link href="/static/min/custom-min.css" type="text/css" rel="stylesheet">
    <link href="/static/min/plugin-min.css" type="text/css" rel="stylesheet" >
    <link href="/static/css/custom.css" type="text/css" rel="stylesheet" >

    <!--CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>



  </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
     <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
                <div class="nav-wrapper">
                <a href="/index" id="logo-container" class="brand-logo">Accel.AI</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/index#intro">Program</a></li>
                        <li><a href="/index#workshops">Workshops</a></li>
                        <li><a href="/resources">Resources</a></li>
                        <li><a href="/culture">Culture</a></li>
                        <!-- <li><a href="#team">Team</a></li> -->
                         <li><a href="https://www.meetup.com/San-Francisco-Deep-Learning-Amateurs-Meetup/" target="_blank">Events</a></li>
                        <li><a href="#contact">Contact</a></li>

                        <li><a href="https://medium.com/@Accel.ai" target="_blank">Blog</a></li>
                        <li><a href="/signup" class="waves-effect waves-light btn-large">Sign Up!</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#intro">Program</a></li>
                        <li><a href="/index#workshops">Workshops</a></li>
                        <li><a href="#work">Resources</a></li>
                        <li><a href="/culture">Culture</a></li>
                       <!--  <li><a href="#team">Team</a></li> -->
                       <li><a href="https://www.meetup.com/San-Francisco-Deep-Learning-Amateurs-Meetup/" target="_blank">Events</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="https://medium.com/@Accel.ai" target="_blank">Blog</a></li>
                        <li><a href="/signup" class="waves-effect waves-light btn-large" target="_blank">Sign Up!</a></li>
                    </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
        </nav>
    </div>

      {% block content %}{% endblock %}

    <!--Footer-->
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.4268864843602!2d-122.27268748485183!3d37.80346887975426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f80b3f878f9cd%3A0x87e373bb6e9d5a66!2s1305+Franklin+St+%23250%2C+Oakland%2C+CA+94612!5e0!3m2!1sen!2sus!4v1478654902420" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                         <li>
                            <a class="white-text" href="mailto:info@accel.ai">
                                <i class="small fa fa-envelope-square white-text" target="_blank"></i> info@accel.ai
                            </a>
                        </li>
                    </ul>
                    <h5 class="white-text">Social</h5>
                    <ul>
                        <li>
                            <a class="white-text" href="https://twitter.com/AccelerateAI">
                                <i class="small fa fa-twitter-square white-text" target="_blank"></i> @AccelerateAI
                            </a>
                        </li>
                        <li>
                            <a class="white-text" href="https://www.facebook.com/accelai/">
                                <i class="small fa fa-facebook-square white-text" target="_blank"></i> /accelai
                            </a>
                        </li>
                        <li>
                          <a class="white-text" href="https://www.linkedin.com/company/accel.ai">
                              <i class="small fa fa-linkedin-square white-text" target="_blank"></i> /accel.ai
                          </a>
                        </li>
                        <li>
                            <a class="white-text" href="https://github.com/AccelAI">
                                <i class="small fa fa-github-square white-text" target="_blank"></i> AccelAI
                            </a>
                        </li>
                         <li>
                            <a class="white-text" href="https://www.meetup.com/San-Francisco-Deep-Learning-Amateurs-Meetup/">
                                <i class="small fa fa-users white-text" target="_blank"></i> DLE Meetup
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <img src="/static/images/logo.png" id="footer-logo">
                </div>
            </div>
        </div>
        
        <div class="footer-copyright default_color">
            <div class="container">
                © Accel.AI All rights reserved. |
                Images: <a class="white-text" href="http://www.wocintechchat.com/" target="_blank">WOCinTech</a> & <a class="white-text" href="https://unsplash.com/" target="_blank">Unsplash</a> |
                 Design <a class="white-text" href="http://materializecss.com/" target="_blank">materializecss</a>
            </div>
        </div>
    </footer>


     <!--  Scripts-->
    <script src="/static/min/plugin-min.js"></script>
    <script src="/static/min/custom-min.js"></script>
    <script src="/static/js/custom.js"></script>
  </body>
</html>
